---
layout: false
permalink: /trainings/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/work-with-me/">
  <link rel="canonical" href="{{ site.url }}/work-with-me/">
  <title>Work with me | {{ site.title }}</title>
</head>
<body>
  <p><a href="/work-with-me/">Continue to Work with me</a></p>
</body>
</html>
