{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/css/ears-playground.css">
{% endblock %}

{% block content %}
  {{ content | safe }}
  <script src="/assets/js/ears-validator.js"></script>
  <script src="/assets/js/ears-playground.js"></script>
{% endblock %}
